@import '../../../../styles';

.toolbar {
  margin-top: 20px;
  height: 40px;
  padding-left: 20px;
  background-color: $color-surface;
  border-radius: $radius-card;
  display: flex;
  align-items: center;
  gap: 16px;

  input[type='text'] {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }

  select {
    width: 300px;
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }

  button {
    padding: 8px 16px;
    border: none;
    background-color: $color-confirmed;
    color: white;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
      background-color: darken($color-confirmed, 5%);
    }
  }
}
