<div class="toolbar" *ngIf="showSelect || showSearch || showAdminControls">
  <ng-container *ngIf="showSearch">
    <input type="text" placeholder="Szukaj..." />
    <select>
      <option value="nazwa">Sortuj po nazwie</option>
    </select>
    <button>Filtry</button>
  </ng-container>

  <ng-container *ngIf="showSelect">
    <label>
      Wybrana działka:
      <select (change)="onPlotChange($event)">
        <option value="">-- wybierz --</option>
        <option *ngFor="let plot of plots" [value]="plot.id">{{ plot.name }}</option>
      </select>
    </label>
    <button *ngIf="showEdit">Edytuj</button>
  </ng-container>

  <ng-container *ngIf="showAddService">
    <button>Dodaj usługę</button>
  </ng-container>

  <ng-container *ngIf="showAddToProject">
    <button (click)="onAddToProjectClick()">Dodaj do projektu</button>
  </ng-container>

  <ng-container *ngIf="showSaveCancel">
    <button>Zapisz</button>
    <button (click)="onCancelClick()">Cofnij</button>
  </ng-container>

  <ng-container *ngIf="showAdminControls">
    <input type="text" placeholder="Szukaj..." />
    <select>
      <option value="nazwa">Sortuj</option>
    </select>
    <button>Dodaj nowe biuro</button>
  </ng-container>
</div>
