@import '../../../../styles';

.toolbar {
  margin-top: 20px;
  height: 40px;
  padding-left: 20px;
  background-color: $color-surface;
  border-radius: $radius-card;
  display: flex;
  align-items: center;
  gap: 16px;

}

.row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.label{
  font-size: $font-h2-size;
}

select {
  width: 300px;
  padding: 6px 10px;
  border-radius: 36px;
  border: 2px solid #000000;
  font-size: $font-h2-size;
}

