<div class="agreements">
  <div class="agreements-box" *ngIf="!selectedPlot">
    <div class="empty-tip">Wybierz działkę aby zobaczyć zawartość</div>
  </div>

  <div class="agreements-box" *ngIf="selectedPlot">
    <div class="panel-title">Ustalenia w sprawie działki</div>
    <div class="panel-grid">
      <!-- LEWA KOLUMNA: LISTA -->
      <section class="left">
        <header class="thead">
          <div class="th nr">Nr.</div>
          <div class="th name">Nazwa</div>
        </header>

        <div
          class="tr"
          *ngFor="let m of meetings"
          (click)="onClickRow(m)"
          [class.active]="selectedMeeting?.id === m.id"
        >
          <div class="td nr">{{ pad(m.id) }}</div>
          <div class="td name">{{ m.name }}</div>
        </div>
      </section>

      <!-- PRAWA GÓRA: META (formularz) -->
      <form [formGroup]="form">
        <section class="right-top">
          <!-- PRACOWNIK -->
          <div class="row" style="grid-column: 1; grid-row: 1;">
            <span class="label">Pracownik:</span>
            <input
              class="ctrl"
              formControlName="employee"
              readonly
            />
          </div>

          <!-- DYSKIETKA -->
          <div [ngClass]="{ 'row': true, 'buttons': isEditMode }"
               style="grid-column: 2; grid-row: 1; border-radius: 9px;"
               *ngIf="(isCreating || isEditMode) && agreementsUi.showSaveButton()"
          >
            <button
              type="button"
              class="button"
              (click)="saveMeeting()"
              title="Zapisz ustalenia"
            >
              <img src="assets/save.png" alt="Zapisz"/>
            </button>

            <button
              *ngIf="isEditMode"
              type="button"
              class="button"
              (click)="deleteMeeting()"
              title="Usuń ustalenie"
            >
              <img src="assets/delete.png" alt="Usuń"/>
            </button>
          </div>

          <!-- KLIENT -->
          <div class="row" style="grid-column: 1 / 3; grid-row: 2;">
            <span class="label">Klient:</span>
            <input
              class="ctrl"
              formControlName="client"
              readonly
            />
          </div>

          <!-- DATA -->
          <div class="row" style="grid-column: 1 / 3; grid-row: 3;">
            <span class="label">Data:</span>
            <input
              class="ctrl"
              type="date"
              formControlName="date"
              [readonly]="form.get('date')?.disabled"
            />
          </div>
        </section>


        <!-- PRAWA DÓŁ: OPIS -->
        <section class="right-bottom">
          <textarea
            class="area"
            formControlName="description"
            [readonly]="form.get('description')?.disabled"
          ></textarea>
        </section>
      </form>
    </div>
  </div>
</div>
