<div class="agreements">
  <div class="agreements-box" *ngIf="!selectedPlot">
    <div class="empty-tip">Wybierz działkę aby zobaczyć zawartość</div>
  </div>

  <div class="agreements-box" *ngIf="selectedPlot">
    <div class="panel-title">Ustalenia w sprawie działki</div>
    <div class="panel-grid">
      <!-- LEWA KOLUMNA: LISTA -->
      <section class="left">
        <header class="thead">
          <div class="th nr">Nr.</div>
          <div class="th name">Nazwa</div>
        </header>

        <div
          class="tr"
          *ngFor="let m of meetings"
          (click)="onClickRow(m)"
          [class.active]="selectedMeeting?.id === m.id"
        >
          <div class="td nr">{{ pad(m.id) }}</div>
          <div class="td name">{{ m.name }}</div>
        </div>
      </section>

      <!-- PRAWA GÓRA: META -->
      <section class="right-top">
        <div class="row">
          <span class="label">Klient:</span>
          <input class="ctrl" [value]="(selectedPlot ? selectedPlot.client : '')" readonly/>
        </div>

        <div class="row">
          <span class="label">Data:</span>
          <input class="ctrl" [value]="selectedMeeting?.date || ''" readonly/>
        </div>
      </section>

      <!-- PRAWA DÓŁ: OPIS -->
      <section class="right-bottom">
        <textarea
          id="meetingDescription"
          name="meetingDescription"
          class="area"
          readonly
          [value]="selectedMeeting ? selectedMeeting.description : 'Opis:'"
        ></textarea>
      </section>

    </div>
  </div>
</div>
