@import '../../../../styles';

/* wrapper strony */
.agreements {
  height: 646px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding-top: 16px;
}

/* karta tła */
.agreements-box {
  width: 100%;
  height: 646px;
  background: $color-surface;
  border-radius: $radius-card;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

/* podpowiedź gdy brak wyboru */
.empty-tip {
  display: grid;
  place-items: center;
  text-align: center;
  font-size: $font-h1-size;
}

.panel-title {
  text-align: left;
  padding-left: 30px;
  font-size: $font-h1-size;
}

/* ====== GŁÓWNA SIATKA PANELU ====== */
.panel-grid {
  /* dwie kolumny: lewa ~50%, prawa ~50% */
  display: grid;
  grid-template-columns: 1.05fr 1fr;
  /* dwie rzędy: meta na górze, opis na dole */
  grid-template-rows: 220px 1fr;
  gap: 0;
  height: 80%;
  border: 2px solid #000;
  overflow: hidden;
  background: #fff;
}

/* ====== LEWA KOLUMNA (lista) ====== */
.left {
  grid-column: 1 / 2;
  grid-row: 1 / 3; /* lewa kolumna rozciąga się przez oba rzędy */
  border-right: 2px solid #000;
  background: white;
  font-size: $font-h2-size;
  font-weight: 600;


  .thead,
  .tr {
    display: grid;
    border-bottom: 2px solid $color-background;
    grid-template-columns: 80px 1fr;
    align-items: center;
  }

  .thead {
    background: #f1f1f1;
    font-weight: 700;

    .th {
      padding: 14px 12px;
      font-size: 18px;
    }
  }

  .tr {
    cursor: pointer;

    .td {
      padding: 16px 12px;
      font-size: 18px;
    }

    &:nth-child(even) {
      background: #fafafa;
    }

    &.active {
      background: #eaf3ff;
    }

    &:hover {
      background: #f0f7ff;
    }
  }

  .nr {
    text-align: center;
  }

  .name {
    text-align: left;
  }
}

/* ====== PRAWA GÓRA (Klient / Data) ====== */
.right-top {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background: $color-background;
  padding: 18px 18px 10px;
  display: grid;
  gap: 14px;
  border-bottom: 2px solid #000;

  .row {
    height: 60%;
    padding-left: 10px;
    display: flex;
    background: $color-surface;
    border-radius: $radius-card;
    align-items: center;
    gap: 12px;
    font-size: $font-h2-size;
  }

  .ctrl {
    font-size: $font-h2-size;
    padding: 8px 14px;
    border: 0 solid white;
  }
}

/* ====== PRAWA DÓŁ (Opis) ====== */
.right-bottom {
  background: #fff;
  padding: 12px 12px 16px;
  display: grid;
  font-size: $font-h2-size;

  .area {
    resize: none;
    overflow-y: auto;
    user-select: text;
    border: 0 solid white;
    font-size: $font-h2-size;
    outline: none;
    box-shadow: none;
  }
}
